/* add your CSS here */
 img {
 	width: 300px;
 	padding-bottom: 10px;
 }

 .container {
 	border: 1px solid #000;
 	padding: 15px;
 	width: 300px;
 	margin: 0 auto;
 	box-shadow: 7px 7px #ccc;
 	background-image: url("https://wallpapercave.com/wp/GlRc0tL.jpg");
 }

 h3 {
 	font-size: 30px;
 	margin-top: 5px;
 }

 ul {
 	padding: 0;
 }

 .fact {
 	font-style: italic;
 }

 li {
 	list-style-type: none;
 }

 .feature {
 	font-weight: bold;
 }

 .content {
 	border: 1px solid #000;
 	padding: 10px;
 }

